<a href="https://colab.research.google.com/github/M1nseokSong/data_science_study/blob/main/dataframe_quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. “information technology” 과목은 심화과목이라 1학년은 수강할 수 없습니다.

2. “commerce” 과목은 기초과목이고 많은 학생들이 듣는 수업이라 4학년은 수강할 수 없습니다.
3. 수강생이 5명이 되지 않으면 강의는 폐강되어 수강할 수 없습니다.

In [3]:
import pandas as pd

df = pd.read_csv('enrolment_1.csv')

df["status"] = "allowed"

info_condition = (df['year'] == 1) & (df['course name'] == "information technology")
com_condition = (df['year'] == 4) & (df['course name'] == "commerce")
allowed = df["status"] == "allowed"
course_counts = df.loc[allowed, "course name"].value_counts()
close_courses = list(course_counts[course_counts<5].index)

for course in close_courses:
    df.loc[df["course name"] == course, "status"] = "not allowed"

df.loc[info_condition, 'status'] = "not allowed"
df.loc[com_condition, 'status'] = "not allowed"

df

           id  year           course name   status
0     2777729     1               science  allowed
1     2777730     2               science  allowed
2     2777765     1                  arts  allowed
3     2777766     2                  arts  allowed
4     2777785     1                   mba  allowed
...       ...   ...                   ...      ...
1995  2796805     3  computer application  allowed
1996  2796812     1               nursing  allowed
1997  2796813     2               nursing  allowed
1998  2796814     3               nursing  allowed
1999  2796815     4               nursing  allowed

[2000 rows x 4 columns]